body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    background-color: #FDF7E4;
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin-top: 5%;
}

.user-choice button {
    border: none;
    background-color: inherit;
    color: white;
    font-size: 40px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.user-choice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    width: 20%;
}

.results {
    text-align: center;
}

.results,
.score {
    padding: 2px;
    margin-top: 10px !important;
}

.bordersVisible {
    border: 2px solid black;
}

.score {
    display: flex;
    justify-content: space-between;
    color: #22092C;
    align-items: center;
    margin: 0 30%;
    padding: 30px 10px;
    flex-wrap: wrap;
}

.backgroundShow {
    background-color: #F05941;
}


button:hover {
    background-color: #750E21;
    border-radius: 50%;
    animation: shakemebaybe 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
  }
  
  @keyframes shakemebaybe {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }