body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    background-color: #FDF7E4;
}

.container-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2%;
    margin-top: 5%;
}

.user-choice button {
    border: none;
    background-color: inherit;
    color: white;
    font-size: 40px;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

.user-choice {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 2px solid black;
    width: 20%;
}

.results {
    text-align: center;
}

.results,
.score {
    padding: 2px;
    margin-top: 10px !important;
}

.bordersVisible {
    border: 2px solid black;
}

.score {
    display: flex;
    justify-content: space-between;
    color: #22092C;
    align-items: center;
    margin: 0 30%;
    padding-left: 20px;
    padding-right: 20px;;
    flex-wrap: wrap;
}

.backgroundShow {
    background-color: #F05941;
}
